select{
	border-style: none;
	border-bottom: 1px dashed;
	background-color: white;
	font-size: 18px;
	margin-bottom: 10px;
}
.navbar-full{

	width: 100%;
	height: 100px;
	border-bottom-style: solid;
	border-bottom-color: black;

}
.formBody{
	margin-top:120px;
	margin-left: 50px;
}
.logoLook{
	padding-right: 100px;
}
.navbar-inner{
	position: relative;
	margin-top: 25px;
}
#registBody{
	margin: 150px auto;
	width: 50%;
	padding: 50px;
	padding-bottom: 70px;
	border: 1px solid;
}
#registBody button{
	margin-top: 10px;
	margin-bottom: 5px;
}
#registBody input{
	border-style: none;
	border-bottom: 1px dotted;
	margin-bottom: 10px;
	font-size: 12px;
	width: 100%;
}
#registBody select{
	border-style: none;
	border-bottom: 1px dashed;
	background-color: white;
	font-size: 12px;
	margin-bottom: 10px;
	width: 100%;
}
.imgButton:hover{
	border: 10px solid;
	border-color: black;
}
.itemBody{
	margin-top: 50px;
	padding: 30px;
	border: 1px solid;
	border-color: black;
}
.itemLeft{
	float:left;
	padding-left: 50px;
	padding-top: 20px;
}
.itemRight{
	margin-left: 400px;
	padding-right: 100px;
}
.clearfix{
	clear:both;
}
button{
	background:none;
	border-style:none;
	border-bottom-style: solid;
	height: 50px;
	margin-left:10px;
	border-color: black;
}
.selectOrd{
	padding: 20px;
	border: 1px solid;
}
.container{
	margin: 0 auto;
	min-height:	1000px;
}
button:hover{
	background:black;
	border-color:white;
	color:white;
}

.user{
	padding-top:10px;
	font-size: 20px;
	vertical-align: middle;
}
.smItemBody{
	margin-top: 20px;
	padding: 20px;
	border: 1px solid;

}